# ----------------------
# dbt artifacts
# ----------------------
target/
logs/
dbt_packages/
.dbt_packages/
dbt_internal_packages/
.partial_parse.msgpack

# DuckDB
*.duckdb

# ----------------------
# Python
# ----------------------
.venv/
venv/
env/
__pycache__/
*.py[cod]

# ----------------------
# Environment variables
# ----------------------
.env

# ----------------------
# Build artifacts
# ----------------------
build/
dist/

# ----------------------
# IDE / OS
# ----------------------
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# ----------------------
# User-specific
# ----------------------
.user.yml